@model Countries.Models.Countries

@{
    ViewBag.Title = "List";
}

<h2>Countries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (var item in Model.Country) {
        <tr>
            <td>@item.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })       
            </td>
        </tr>
    }

</table>
